<h2>This Page Is Using The Default Template</h2>
{{ entries:listing folder="blog" limit="2" }}
<article>
  <h3><a href="{{ url }}">{{ title }}</a></h3>
</article>
{{ /entries:listing }}

{{ entries:pagination folder="blog" limit="2" }}
<div class="pagination">
  {{ if previous_page }}
    <a href="{{ previous_page }}">&laquo; Previous</a>
  {{ endif }}
 
 
  {{ if next_page }}
    <a href="{{ next_page }}">Next &raquo;</a>
  {{ endif }}
</div><!-- END .pagination -->
{{ /entries:pagination }}

{{# 
====================================
  NOTES
====================================

If you choose to not specify a template in your front matter, Statamic uses the following template hierarchy:

If present: post.html
Otherwise, if present: default.html
Otherwise: 404.html

See http://statamic.com/learn/core-concepts/how-pages-are-built for more information.

The {{ content }} tag displays everything below the custom content fields.

see http://statamic.com/learn/core-concepts/content-files for more information on the {{ content }} tag.
  
#}}
