<h2>This Page Uses The Post Template</h2>
<article>
  <h3>{{ title }}</h3>
  {{ content }}
  <a href="/blog">&larr; back</a>
</article>

{{# 
====================================
  NOTES
====================================

If you choose to not specify a template in your front matter, Statamic uses the following template hierarchy:

If present: post.html
Otherwise, if present: default.html
Otherwise: 404.html

See http://statamic.com/learn/core-concepts/how-pages-are-built for more information.

The {{ content }} tag displays everything below the custom content fields.

see http://statamic.com/learn/core-concepts/content-files for more information on the {{ content }} tag.
  
#}}
