{{ theme:partial src="hero" hero-title="About Modus" hero-tagline="Tightly knit. Awesome" hero-class="event" }}
<div class="row">
  <div class="small-8 columns">
    {{ content }}
  </div>
  <div class="small-4 columns">
    <h4>Our Team</h4>
    <ul class="large-block-grid-3">
      {{ entries:listing folder="staff" limit="10" }}
      <li>
        <img class="rounded" src="{{ transform src="{ picture }" width="100" }}" alt="">        
      </li>
      {{ /entries:listing }}    
    </ul>
    

      <!-- <p>{{ title }}</p>
      <p>{{ position }}</p> -->
      <!-- <p><a href="http://www.twitter.com/{{ twitter }}">{{ twitter }}</a></p> -->
    
  </div>
</div>