{{ theme:partial src="hero" hero-title="Let's Talk" hero-tagline="We love getting to know potential clients! <br />The first step is for us to understand your needs. Let's setup a time to chat and get the conversation started." }}
<div class="row">
  <div class="large-8 large-centered columns">
    <p>{{ content }}</p>
  </div>
</div>
<div class="row">
    <div class="large-8 large-centered columns">
      <div class="row">
        <div class="large-6 columns">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="First and Last" />
        </div>
        <div class="large-6 columns">
          <label for="email">Email</label>
          <input type="email" id="name" placeholder="you@company.com" />
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label for="company">Company</label>
          <input type="text" id="company" />
        </div>
        <div class="large-6 columns">
          <label for="phone">Phone</label>
          <input type="text" id="phone" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="30" placeholder="How can we get the conversation started?"></textarea>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="large-8 large-centered columns">
    <p>Want to chat in person? Give us a call at {{ phone_number }}.</p>
    <hr />
    <h3>Our Location</h3>
    <p>We're located in Reston, VA - a blooming area for technology startups and large companies alike.</p>
  </div>
</div>