{{ theme:partial src="hero" hero-title="Blog" 
  hero-tagline="Stuff about things." hero-slim="true" hero-background="{{ image }}"
{{ if picture }}
<div class="image" style="background-image: url({{ picture }});">
  hey
</div>
{{ endif }}
<div class="row">
  <div class="small-12 large-8 large-centered columns">
    <p class="entry-date"> {{ datestamp format="F jS, Y" }}</p>
    <h1>{{ title }}</h2>
    {{ if intro }}
      <p class="larger">{{ intro }}</p>
    {{ endif}}
    <p class="entry-author">{{ author }} - {{ content|word_count }} words</p>    
    {{ content }}

    {{ if categories }}
    <p class="entry-meta"> Filed under {{ categories_url_list }}.</p>
    {{ endif }}

    <div class="comments">
      <h3>Leave Your Comments</h3>
      {{ disqus:comments account="{ disqus_account }" }}
    </div>
  </div>
</div>