<div class="row">
  <div class="small-12 large-8 large-centered columns">
    <!-- <img src="{{ picture }}" alt="" style="height:400px" /> -->

    <h2 class="entry-title">{{ title }}</h2>
    <p class="entry-date"> {{ datestamp format="F jS, Y" }}</p>    
    {{ content }}

    {{ if categories }}
    <p class="entry-meta"> Filed under {{ categories_url_list }}.</p>
    {{ endif }}

    <div class="comments">
      <h3>Leave Your Comments</h3>
      {{ disqus:comments account="{ disqus_account }" }}
    </div>
  </div>
</div>