<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ _site_name }}</title>
  <link rel="stylesheet" href="{{ theme:css }}">
</head>
<body>

  <div class="container">
    <header>
      {{ theme:partial src="nav" }}
    </header>
    {{ layout_content }}
    <footer>
      {{ theme:partial src="footer" }}
    </footer>
  </div>
  
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="{{ theme:js }}"></script>
  {{ highlight:head }}

</body>
</html>