<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ _site_name }} | {{ title }}</title>
  <script type="text/javascript" src="//use.typekit.net/lmf2kig.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="{{ theme:css }}">

</head>
<body>

  <div class="container">
    <header>
      {{ theme:partial src="nav" }}
    </header>
    <div id="main" role="main">
      {{ layout_content }}
    </div>
    <footer>
      {{ theme:partial src="footer" }}
    </footer>
  </div>
  
  <script src="{{ theme:asset src='bower_components/jquery/jquery.min.js' }}"></script>
  <script src="{{ theme:js }}"></script>
  {{ highlight:head }}

</body>
</html>