/* Kindling SCSS -------------- */

@import "settings";
@import "normalize";
@import "foundation";

.no-margin {
  margin: 0;
}

$baseBlue: rgba(78, 177, 203, 1);
$baseRed: rgba(207, 92, 96, 1);
$basePurple: rgba(113, 126, 205, 1);
$baseGreen: rgba(74, 180, 113, 1);
$baseOrange: rgba(243, 174, 78, 1);
$basePink: rgba(217, 99, 131, 1);

@import 'header';

footer {
  background: #313437;
  padding: 70px 0;
  color: white;
  font-family: $header-font-family;
  h4 {
    color: #a3a3a3;
    text-transform: uppercase;
  }
  ul {
    margin: 0;
  }
  li {
    list-style: none;
  }
  a {
    color: #fefefe;
  }
}

/* for intro paragraphs, etc */
.larger {
  color: #888;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: $header-font-family;
}

/* all code blocks have the same bot margin as paragraphs */
pre {
  margin-bottom: $paragraph-margin-bottom;
  background: linear-gradient(to top, black, white);
  code {
    background: #eee;
    padding: 1.25em;
    line-height: $paragraph-line-height;
  }
}

.hero {
  padding-top: 76px; /* height of the navbar */
  margin-bottom: 30px;
  height: 600px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  p { font-family: $header-font-family; }

  /* the slim hero, standard */
  &.slim-hero {
    background: 
      linear-gradient(45deg, rgba(0, 0, 0, 0.85) 12%, rgba(10, 10, 10, 0.95) 72%);
    height: 300px;
  }
  
  /* individual page heroes */
  &.home-hero {
    background-attachment: fixed;
    background: 
      linear-gradient(45deg, rgba(154,35,35, 0.85) 12%, rgba(36,43,75, 0.95) 72%),
      url('../img/modus-home.jpg');
    p {
      color: #C5B0B3;      
    }
  }

  &.about-hero {
    background-attachment: fixed;
    background: 
      linear-gradient(45deg, rgba(46, 204, 113, 0.55) 12%, rgba(39, 174, 96, 0.65) 72%),
      url('../img/modus-about.jpg');
    p { color: #eee; }
  }

  &.contact-hero {
    background-attachment: fixed;
    background: 
      linear-gradient(rgba(52,73,94,0.65) 12%, rgba(44,62,80,0.65) 72%), 
      url('../img/modus-contact.jpg');
    p { color: #e1ebff; }
  }

  &.blog-hero {
   background-attachment: fixed;
   background-position: center top;
   background:
     linear-gradient(rgba(0, 0, 0, 0.35) 12%, rgba(0, 0, 0, 0.25) 72%),
     url('../img/modus-blog.jpg');
   p { color: #eee; } 
  }

  .hero-container {
    display: table;
    margin: 0 auto;
    height: 100%;
  }
  .hero-content {
    display: table-cell;
    position: relative;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
  }
  h1 {
    font-weight: 500;
    color: white;
  }
}