<div class="row">
  <div class="small-3 columns">
    <a href="/">
      <img src="{{ theme:asset src='img/modus-mark.svg' }}" alt="" />
    </a>
  </div>
  <div class="small-9 columns">
    <nav class="text-right">
      <ul class="no-margin">
        {{# include our nav here, but exclude some things. #}}
        {{ nav from="/" max_depth="1" exclude="home|blog|capabilities|publications|careers|staff|events|labs" }}
          <li {{ if is_current || is_parent }} class="active"{{ endif }}><a href="{{ url }}">{{ title }}</a>
        </li>
        {{ /nav }}
      </ul>
    </nav>
  </div>
</div>